<template>
    <b-container>
        <b-row>
            <b-col>
                <b-input-group size="sm" class="mb-3">
                    <b-form-input v-model="text"/>
                    <b-input-group-append>
                        <b-button
                                size="sm"
                                text="Button"
                                variant="success"
                                @click="addTask">
                            Button
                        </b-button>
                    </b-input-group-append>
                </b-input-group>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <!--                <b-select v-model="page" @change="changePage">-->
                <!--                    <option value="1">1</option>-->
                <!--                    <option value="2">2</option>-->
                <!--                    <option value="3">3</option>-->
                <!--                </b-select>-->
                <b-button :disabled="!havePrev" @click="prevPage">Prev</b-button>
                <b-button :disabled="!haveNext" @click="nextPage">Next</b-button>
            </b-col>
            <b-col>
                <b-select v-model="limit" @change="changeLimit">
                    <option :value="15">15</option>
                    <option :value="35">35</option>
                    <option :value="75">75</option>
                </b-select>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <list :style="style" :tasks-props="tasks"
                      :class="[tasks.length === 0 ? 'empty' : 'no-empty', 'wefeg', {qweqw:false}]">
                    <template slot-scope="{ task }">
                        <transition name="fade">
                            <simple-list-item @change="updateList" :task="task" v-if="!task.completed"/>
                            <delete-list-item @remove="removeTask" :task="task" v-else/>
                        </transition>
                    </template>
                </list>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import List from '@/components/List'
    import SimpleListItem from '@/components/SimpleListItem'
    import DeleteListItem from '@/components/DeleteListItem'

    export default {
        name: 'app',
        data: () => ({
            text: '',
            tasks: [],
            limit: 15,
            page: 1,
            style: {
                border: '1px solid'
            }
        }),
        components: {
            List,
            // eslint-disable-next-line vue/no-unused-components
            SimpleListItem,
            // eslint-disable-next-line vue/no-unused-components
            DeleteListItem
        },

        beforeMount() {
            this.getTodos(this.limit, this.page)
        },

        computed: {
            haveNext() {
                return this.tasks.length === this.limit
            },
            havePrev() {
                return this.page > 1
            },
        },

        methods: {
            addTask() {
                const task = {
                    id: +(new Date()),
                    title: this.text,
                    completed: false
                }
                this.tasks.push(task)
            },
            removeTask(task) {
                const index = this.tasks.indexOf(task)
                this.tasks.splice(index, 1)
            },
            updateList(task) {
                this.tasks.find(item => item.id === task.id)
                    .completed = task.completed
            },

            changeLimit(value) {
                this.getTodos(value, this.page)
            },

            changePage(value) {
                this.getTodos(this.limit, value)
            },


            nextPage() {
                this.getTodos(this.limit, this.page)
                this.page++
            },
            prevPage() {
                this.page--
                this.getTodos(this.limit, this.page)
            },


            getTodos(limit, page) {
                this.axios.get('https://jsonplaceholder.typicode.com/todos', {
                    params: {
                        _limit: limit,
                        _page: page
                    }
                })
                    .then(response => {
                        this.tasks = response.data
                    })
            }
        }
    }
</script>

<style scoped>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
    {
        opacity: 0;
    }
</style>
