<template>
    <div>
        <div v-for="post of posts" :key="post.id">
            <router-link :to="{name: 'post', params: {id: post.id}}">
                {{ shortTitle(post.title) }}...
            </router-link>
        </div>
    </div>
</template>

<script>
    export default {
        data: () => ({
            posts: []
        }),
        mounted() {
            this.axios.get('https://jsonplaceholder.typicode.com/posts')
                .then(({data}) => this.posts = data)
        },
        methods: {
            shortTitle(title) {
                return title.substr(0, 30)
            }
        }
    }
</script>