<template>
    <div>
        {{ post.id }} - {{ post.title }}
        <hr>
        {{ user.name }}
    </div>
</template>

<script>
    export default {
        data: () => ({
            post: {},
            user: {}
        }),
        mounted() {
            this.axios.get(`https://jsonplaceholder.typicode.com/posts/${this.$route.params.id}`)
                .then(({data}) => this.post = data)
                .then(() => this.getUser())
        },
        methods: {
            getUser() {
                this.axios.get(`https://jsonplaceholder.typicode.com/users/${this.post.userId}`)
                    .then(({data}) => this.user = data)
            }
        }
    }
</script>