<template>
    <div class="list">
        <transition-group name="list-complete">
            <div v-for="task in sortedList"
                 :key="task.id">
                <slot :task="task">{{ task.title }}</slot>
            </div>
        </transition-group>
    </div>
</template>

<script>
    export default {
        name: 'List',
        props: {
            tasksProps: {}
        },
        computed: {
            sortedList() {
                /* return [...this.tasksProps].sort(a => a.completed ? 1 : -1)

                 return [...this.tasksProps].sort((a) => {
                     return a.completed ? 1 : -1 })*/

                return [...this.tasksProps].sort(function (a) {
                    return a.completed ? 1 : -1
                })
            }
        }
    }
</script>

<style>
    .list-complete-enter, .list-complete-leave-to
        /* .list-complete-leave-active до версии 2.1.8 */ {
        opacity: 0;
        transform: translateY(30px);
    }
    .list-complete-leave-active {
        position: absolute;
    }
</style>
