<template>
    <div>
        <p>{{ task.title }}</p>
        <input type="checkbox" :checked="task.completed" @change="change">
        <button v-if="task.completed" @click="remove">Delete</button>
        <hr>
    </div>
</template>

<script>
    export default {
        props: {
            task: {}
        },
        methods: {
            change(e) {
                this.$emit('change', {
                    id: this.task.id,
                    completed: e.target.checked
                });
            },
            remove() {
                this.$emit('remove', this.task);
            }
        }
    }
</script>

